body {
    background-color: lightgray;
}

h1 {
    background-color: #5eb5e0;
    color: white;
    padding: 15px;
    font-size: 50px;
    text-align: center;
}

.image {
    width: 50%;
    margin: auto;
}

.image2 {
    width: 70%;
    margin: auto;
}

.containerOneNew {
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
}

.containerOneNew:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.textR {
    text-align: right;
}


.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.para {
    font-size: 25px;
}

.button_blue {
    background-color: #5eb5e0;
    border-radius: 10px;
    padding: 10px;
    color: white;
    border: none;
    box-shadow: 5px 5px 10px gray;
    text-decoration: none;
}

.button_blue:hover {
    background-color: #469bc5;
    color: white;
}